# 파이썬 리스트

In [ ]:
# 리스트
person=[1,"2","String",True,2.3]

print(person)
print(type(person))
print(person[0:4:1])
print(person[::-1])

a=list(range(5,10))
print(a)

b=list(range(-10,10,2))
print(b)

c=list(range(10,0,-1))
print(c)

[1, '2', 'String', True, 2.3]
<class 'list'>
[1, '2', 'String', True]
[2.3, True, 'String', '2', 1]
[5, 6, 7, 8, 9]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 파이썬 튜플

튜플은 읽기 전용 리스트
변경, 추가, 삭제가 안된다.

In [17]:
d=(3,33,44,22)
print(d)

e=2,34,442,"rr"
print(e)

(23)

(33,)
44,

(3, 33, 44, 22)
(2, 34, 442, 'rr')

(44,)

In [21]:
aa=tuple(range(10))
print(aa)

bb=[1,2,3]
cc=(4,5,6)

print(type(bb))
print(bb)
print(type(cc))
print(cc)


dd=list(cc)
ff=tuple(bb)
print(type(dd))
print(dd)
print(type(ff))
print(ff)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'list'>
[1, 2, 3]
<class 'tuple'>
(4, 5, 6)
<class 'list'>
[4, 5, 6]
<class 'tuple'>
(1, 2, 3)

In [27]:
h=list('hello')
print(h)

['h', 'e', 'l', 'l', 'o']

In [29]:
a,b,c=[1,2,3]
print(a,b,c)

1 2 3

리스트와 튜플의 요소를 변수 여러 개에 할당하는 것을 

리스트 언패킹(list unpacking), 

튜플 언패킹(tuple unpacking)

In [31]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

y = (4, 5, 6)
d, e, f = y
print(d, e, f)

1 2 3
4 5 6

In [ ]:
inp=input("두개의 숫자를 입력하세요.")

x = inp.split()
a, b = x         # a, b = input().split()과 같음
print(a, b)

In [ ]:
example=input()
dd

In [ ]:
# 리스트 패킹(list packing)과 튜플 패킹(tuple packing)은 
# 변수에 리스트 또는 튜플을 할당하는 과정
a = [1, 2, 3]    # 리스트 패킹
b = (1, 2, 3)    # 튜플 패킹
c = 1, 2, 3      # 튜플 패킹

In [2]:
a=list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

### 시퀀스 자료형
파이썬에서는 리스트, 튜플, range, 문자열처럼 값이 연속적으로 이어진 자료형

In [3]:
# 시퀀스 객체 안에 특정 값이 있는지 확인하는 방법
a=list(range(0,100,10))
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [4]:
30 in a

True

In [5]:
100 in b

False

In [6]:
43 in (38,76,43,82,19)

True

In [7]:
1 in range(10)

True

In [8]:
'P' in 'Hello, Python'

True

##### 시퀀스 객체 연결하기

In [9]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

시퀀스 자료형 중에서 range는 + 연산자로 객체를 연결할 수 없습니다.
이때는 range를 리스트 또는 튜플로 만들어서 연결하면 됩니다.

In [10]:
range(0, 10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [11]:
list(range(0, 10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
tuple(range(0, 10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

문자열은 + 연산자로 여러 문자열을 연결할 수 있습니다.

In [13]:
'Hello, ' + 'world!'

'Hello, world!'

문자열에 정수를 연결하려고 하면 에러가 발생합니다(정수를 문자열로 변환할 수 없어서 TypeError가 발생합니다). 이 문제를 해결하려면 str을 사용하여 숫자(정수, 실수)를 문자열로 변환하면 됩니다.

'문자열' + str(정수)

'문자열' + str(실수)

In [14]:
'Hello, ' + str(10)

'Hello, 10'

In [15]:
'Hello, ' + str(1.5)

'Hello, 1.5'

 연산자는 시퀀스 객체를 특정 횟수만큼 반복

In [16]:
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

range는 * 연산자를 사용하여 반복할 수 없습니다.

In [17]:
range(0, 5, 2) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

이때는 range를 리스트 또는 튜플로 만들어서 반복

In [18]:
list(range(0, 5, 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [19]:
tuple(range(0, 5, 2)) * 3

(0, 2, 4, 0, 2, 4, 0, 2, 4)