In [33]:
import pandas as pd

In [35]:
file_path = "D:\\DevOPS\\Python\\CebC\\ANS.xlsx"
df = pd.read_excel(file_path)

# Display the first few rows and the column names to understand the structure
df.head(), df.columns

(   number name gender grade    class              ID          phone  \
 0     NaN  황현서      남   1학년     Mary  180228-3001914  010-6555-6668
 1     NaN  권하선      여   1학년     Noah  180314-4212613  010-4042-5366
 2     NaN  신채은      여   1학년     Ruth  180308-4041617  010-9983-8572
 3     NaN  이다원      남   1학년     Mary  191004-3058317  010-9625-0506
 4     NaN   서봄      여   1학년  Abraham  181013-4070813  010-3003-0118

                                              caution               date  \
 0                                                 없음  8월 8일~8월 9일 모두 가능
 1  눈이 간지러울때  눈을 비비면 눈 주위 알러지로 눈이 붓게 됩니다. (먹는 상비약과...  8월 8일~8월 9일 모두 가능
 2                              아빠가 신동호선생님이라 저녁약먹일 예정  8월 8일~8월 9일 모두 가능
 3                                                 없음  8월 8일~8월 9일 모두 가능
 4                                         매운 음식 못 먹음  8월 8일~8월 9일 모두 가능

   due_date area
 0      NaN  NaN
 1      NaN  NaN
 2      NaN  NaN
 3      NaN  NaN
 4      NaN  NaN  ,
 Index(['number', 'name', 'gender', 'grade', 'class', 'ID', 'phone', 'caution',
        'date', 'due_date', 'area'],
       dtype='object'))

In [37]:
print(df.columns)

Index(['number', 'name', 'gender', 'grade', 'class', 'ID', 'phone', 'caution',
       'date', 'due_date', 'area'],
      dtype='object')

In [13]:
grade_col = 'grade'
name_col = 'name'
# 학년 정보만 필터링 (예: "초등 1학년", "중등 2학년" 등으로 시작하는 경우)
student_rows = df[df[grade_col].str.contains('학년', na=False)]

# 학년별로 이름을 리스트로 분류
grade_groups = student_rows.groupby(grade_col)[name_col].apply(list).to_dict()

grade_groups

{'1학년': ['황현서',
  '권하선',
  '신채은',
  '이다원',
  '서봄',
  '양승헌',
  '안하엘',
  '정희민',
  '손다온',
  '김리원',
  '김리나',
  '신지안',
  '이희온',
  '박하린',
  '이시은'],
 '2학년': ['김리한', '조아린', '빙서은', '박류찬', '송다희 ', '양주원', '장다솔', '김지아'],
 '3학년': ['이선율', '김주아', '정서연', '이주찬', '김예찬', '이도이', '이지온', '이시우', '김윤아', '안우영'],
 '4학년': ['이서율',
  '박연서',
  '이아인',
  '박한별',
  '남강현',
  '전하랑',
  '강은채',
  '공환희',
  '조반희',
  '탁준',
  '이주원',
  '양예원'],
 '5학년': ['이다솔', '탁윤', '박지유', '장승오', '엄태준', '민엘리', '장진', '이주호', '이남우', '이시현'],
 '6학년': ['박연준',
  '김나은',
  '남강우',
  '박예원 ',
  '전하영',
  '이선아',
  '빙서윤',
  '정유진',
  '윤빛',
  '이재이',
  '박류건',
  '김소연']}

In [43]:
import random
from collections import defaultdict

# 고정된 시드를 줘서 결과 재현 가능하게 하기
random.seed(1)##초기에는 42를 주었으며, 숫자를 바꾸면 결과가 달라짐

# 1~3학년 학생 리스트
lower_grades = grade_groups['1학년'] + grade_groups['2학년'] + grade_groups['3학년']
# 4~6학년 학생 리스트
upper_grades = grade_groups['4학년'] + grade_groups['5학년'] + grade_groups['6학년']

# 섞기
random.shuffle(lower_grades)
random.shuffle(upper_grades)

# 4반으로 균등하게 나누기 위한 함수
def split_into_classes(students, num_classes=4):
    classes = defaultdict(list)
    for i, student in enumerate(students):
        class_num = (i % num_classes) + 1
        classes[f'{class_num}반'].append(student)
    return dict(classes)

# 반편성
lower_grade_classes = split_into_classes(lower_grades, 4)
upper_grade_classes = split_into_classes(upper_grades, 4)

lower_grade_classes, upper_grade_classes

({'1반': ['신채은', '김예찬', '양승헌', '박류찬', '송다희 ', '정서연', '양주원', '김리한', '손다온'],
  '2반': ['빙서은', '김지아', '권하선', '신지안', '박하린', '이지온', '이도이', '이다원'],
  '3반': ['김리나', '정희민', '김리원', '김윤아', '이선율', '안하엘', '이시은', '안우영'],
  '4반': ['이시우', '조아린', '장다솔', '이주찬', '황현서', '이희온', '김주아', '서봄']},
 {'1반': ['이주호', '이다솔', '강은채', '남강현', '박한별', '탁준', '전하영', '장승오', '박연서'],
  '2반': ['장진', '이남우', '조반희', '박예원 ', '김소연', '정유진', '양예원', '이재이', '이선아'],
  '3반': ['김나은', '이아인', '빙서윤', '이주원', '탁윤', '윤빛', '공환희', '남강우'],
  '4반': ['박연준', '엄태준', '박류건', '전하랑', '이서율', '이시현', '민엘리', '박지유']})